.Cart{
    width: 750px;
    margin: 80px auto;
    background: whitesmoke;
    border-radius: 7px;
    box-shadow: 1px 2px 3px 0px black;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.Cart-Title {
    border-bottom: 1px solid gray;
    color: gray;
    font-size: 20px;
    font-weight: 400; 
    padding-bottom: 1em;  
}